<!-- this HTML.erb file is the html for the 'new' method from the pictures_controller.rb -->

<h1>Add a picture</h1>
<!-- adding a link to go index.html.erb file -->
<%= link_to "Back to Pictures", pictures_url %>


<%= render 'picture_input_form' %>

<!-- Now the form is for @picture, which comes from the model in the controller. In other words the form is now
setup to work with the model. -->