<!-- this show.html.erb file is the htt://website/pictures/<id#> part of the site.  It's very basic and will
just show the single picture with values of what's inside @picture[:key] below. -->

<!-- data:confirm is the way of telling Rails you want to popup a dialog box and confirm with the user. method: lets
Rails know what HTTP request to use on the URL. So the URL is /picture (which is denoted in this code with @picture),
and the HTTP request is DELETE, which is obviously a different route from GET /pictures. -->
<%= render 'navlinks' %>


<p><%= @picture.title %>, <%= @picture.artist %></p>
<img src="<%= @picture.url %>">