<!-- this show.html.erb file is the htt://website/pictures/<id#> part of the site.  It's very basic and will
just show the single picture with values of what's inside @picture[:key] below. -->

<p><%= @picture[:title] %>, <%= @picture[:artist] %></p>
<img src="<%= @picture[:url] %>">